@using Sitecore.Mvc
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@model Assignment.Models.Header

<link rel="stylesheet" href="~/Styles/Home/Header.css" />

<div class="header">
    @if (Model != null && Model.Item != null)
    {
        <div class="logo">
            @Html.Sitecore().Field("Logo", Model.Item)
        </div>

        MultilistField multiselectField = Model.Item.Fields["NavbarItems"];
        Item[] items = multiselectField.GetItems();


        <div class="navbar">
            <ul class="navbar-items">
                @foreach (var item in items)
                {
                    <li class="navbar-item">
                        @Html.Sitecore().Field("Item", item)
                    </li>
                }
            </ul>
        </div>

        <div class="nav-button">
            @Html.Sitecore().Field("NavButton", Model.Item)
        </div>
    }

</div>

