
@using Sitecore.Mvc
@*@using Sitecore.Mvc.Analytics.Extensions*@

<!DOCTYPE html>
<html>

<body>
    @Html.Sitecore().Placeholder("Header")
    @Html.Sitecore().Placeholder("Main")
    @Html.Sitecore().Placeholder("Footer")
</body>
</html>

